@font-face {
    font-family: 'PoppinsMedium';
    src: url(/fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(/fonts/Poppins-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* variáveis de cor */
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-float-dark: #575757;
    --color-text-dark: #cacaca;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-add-cart: #00ff00;
    --color-separate: #cccccc;
    --color-red-hot: #ff0000;
}

html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);  
    transition: 1.5s;
}



select {
    height: 60px !important;
}

/* estilização cabeçalho */

strong {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none !important;
}

.color-primary {
    color: var(--color-primary)
}

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
    transition: 1.5s;
}

.nav-link:hover {
    color: var(--color-primary)!important;
    transition: none;
}

.btn-white {
    background-color: var(--color-background);
    color: var(--color-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    margin-left: 30px;
    transition: 1s;
}

.btn-white.active, .btn-white:hover {
    background-color: var(--color-primary);
    transition: 1s;
}

.btn-icon {
    padding-right: 75px;
}

.btn-icon .icon {
    display: inline-block;
    color: var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 100px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.btn-icon:hover {
    background-color: var(--color-primary);
    transition: 0.5s;
}

.btn-icon:hover .icon {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: 0.5s;
}

/* Estilização Primeira section */
.banner {
    padding-top: 100px;
    padding-bottom: 200px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: -20px;
}

.text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
    transition: 1.5s;
}

.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: 1.5s;
}

.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-black)!important;
    border-radius:20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    margin-left: 30px;
}

.btn-yellow a {
    animation: none;
}
.social {
    margin-top: -40px;
}

.btn-ver-cardapio {
    margin-left: 10px;
}

.btn-yellow:hover {
    background-color: var(--color-black);
    color: var(--color-primary)!important;
    transform: 0.8s;
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.btn-icon-left:hover .icon-left {
    color: var(--color-black);
    background-color: var(--color-white);
    transition: 0.5s;
}

.btn-social {
    color: var(--color-black)!important;
    margin-left: 10px;
    margin-top: 10px;
    transform: 1s;
}

.btn-social:hover i {
    width: 50px; 
    align-items: center;
    transform: 1s;
    font-size: 25px;
    transition: 1s;
}

.card-banner {
    height: 450px;
    width: 450px;
    background-color: #f4c949;
    border-radius: 170px;
    position: absolute;
    right: -20px;
    top: -100px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
}

.img-banner img {
    position: absolute;
    width: 550px; 
    top: -60px;
    right: 0px;
}

.card {
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8) !important;
    border: none !important;
}

.card p {
    margin: 5px;
}

.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    top: 310px;
    left: 230px;
}

.card-case-name {
    color: var(--color-primary);
    position: absolute;
    font-size: 12px;
    right: 20px;
    bottom: 5px;
}

/* Estilização Section Serviços */
.background-servicos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(/img/bg-icons-2.png);
}

.servicos {
    margin-top: -130px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.hint-title {
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 16px;
    letter-spacing: 5px;
}

.title {
    color: var(--color-black);
}

.card-icon {
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: var(--color-text-out);
    font-size: 15px;
    padding: 0px 30px;
}

.card-text p {
    font-size: 22px;
    color: var(--color-black);
    margin-bottom: 10px;
}

/*  Estilização Cardápio  */
.background-menu {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(/img/bg-icons-1.png);
}

.menu {
    padding-top: 30px;
    padding-bottom: 150px;
}

.container-menu {
    justify-content: center;
    align-items: center;
}

.container-menu .btn-white {
    margin: 0px;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

/* ITENS DO CARDÁPIO */

.card-item {
    height: 360px;
    margin-top: -25px;
    transition: 1s;
}

.card-item .img-produto img {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    transition: 1s;
}

.card-item .title-produto{
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
    font-size: 20px;
    transition: 1s;
}

.card-item .preco-produto{
    color: var(--color-primary);
    font-size: 24px;
    transition: 0.5s;
}

.card-item .add-carrinho{
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.btn-menos{
    color: var(--color-black-heavy);
    background-color: var(--color-white);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-menos:hover {
    color: var(--color-red-hot);
    transition: -5s;
}

.btn-mais{
    color: var(--color-black-heavy);
    background-color: var(--color-white);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-mais:hover {
    color: var(--color-red-hot);
    transition: -5s;
}

.add-numero-de-itens{
    color: var(--color-black-heavy);
    background-color: var(--color-white);
    padding: 2px 15px;
    border-top: 2px solid var(--color-black-heavy);
    border-bottom: 2px solid var(--color-black-heavy);
    font-size: 18px;
    transition: 0.5s;
}

.btn-add {
    border: 2px solid var(--color-black-heavy);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
    transition: 0.5s;
}

.btn-add:hover {
    background-color: var(--color-add-cart);
    color: var(--color-black-heavy);
    font-size: 22px;
    border: 3px solid var(--color-black-heavy);
}

.card-item:hover {
    background-color: var(--color-primary);
    transition: 1s;
}

.card-item:hover .title-produto{
    font-size: 20px;
    transition: 1s;
}

.card-item:hover .img-produto img{
    margin-bottom: -20px;
    color: var(--color-black-heavy);
    transition: 1s;
}

.card-item:hover .preco-produto{
    color: var(--color-black-heavy);
    font-size: 24px;
    margin-top: -10px;
    transition: 1s;
}

.card-item:hover .add-carrinho{
    display: flex;
    margin-top: -5px;
    transition: 1s;
}

/* Depoimentos */
.depoimentos {
    padding-top: 100px;
    padding-bottom: 150px;
}

.background-depoimentos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(/img/bg-icons-1.png);
}

.card-depoimentos {
    height: 390px;
    width: 390px;
    border-radius: 120px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 50px;
    top: -85px;
}

.container-dados-depoimento {
    display: flex;
}

.depoimento {
    margin-top: 70px;
}

.imagem-depoimento {
    width: 65px;
    height: 65px;
    background-color: var(--color-white);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

#depoimento1 .imagem-depoimento{
    background-image: url(../img/diego.jpg);
    background-size: cover;
}

#depoimento2 .imagem-depoimento{
    background-image: url(../img/ana.jpg);
    background-size: cover;
}

#depoimen3 .imagem-depoimento{
    background-image: url(../img/joao.jpg);
    background-size: cover;
}

.nome-depoimento {
    color: var(--color-black);
    font-size: 22px;
    margin-bottom: 5px;
}

.nota-depoimento {
    color: var(--color-primary);
}

.nota-depoimento span {
    color: var(--color-black);
}

.texto-depoimento {
    display: flex;
    font-size: 16px;
    color: var(--color-black);
}

.texto-depoimento i {
    font-size: 35px;
    color: var(--color-primary);
}

.texto-depoimento i:first-child {
    padding-left: 10px;
    padding-right: 35px;
}

.texto-depoimento i:last-child {
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.reserva {
    padding-top: 100px;
    padding-bottom: 150px;
}

.title-container-reserva {
    color: var(--color-black);
}

.card-secondary {
    background-color: var(--color-secondary);
    border-radius: 70px;
    padding: 90px;
}

.btn-ver-cardapio {
    margin-left: 0;
}

.card-reserva {
    height: 320px;
    width: 320px;
    border-radius: 120px;
    background-color: var(--color-white);
    position: absolute;
    right: 0;
    top: -25px;
}

.reserva .img-banner img {
    width: 100%;
    top: 30px;
    right: 30px;
}

/* Footer */

footer {
    background-color: var(--color-secondary);
}

.logo-footer {
    width: 150px;
}

.container-logo-footer, .container-texto-footer, .container-redes-footer {
    display: flex;
    align-items: center;
}

.container-logo-footer {
    justify-content: start;
}

.container-texto-footer {
    justify-content: center;
}

.container-redes-footer {
    justify-content: end;
    right: 0;
}

.container-redes-footer .btn-social{
    margin-left: -5px;
    transition: 1s;
}

/************************************************************* MODAL *************************************************************/

.modal-full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background: var(--color-white);
    z-index: 9990;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
/* MODAL HEADER */

.m-header {
    margin-top: -40px;
}

.m-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.etapas {
    display: flex;
}

.etapa {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.8);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.etapa::before {
    content: '';
    width: 20px;
    background-color: var(--color-separate);
    position: absolute;
    height: 2px;
    margin-right: 55px;
}

.etapa:first-child::before {
    content: none;
}

.etapa.active, .etapa.active:before {
    background-color: var(--color-primary);
}

/* MODAL BODY */

.m-body {
    margin-top: -5px;
}

.m-body::-webkit-scrollbar {
    width: 6px;
    background: none;
}

.m-body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

.m-body::-webkit-scrollbar-track {
    background-color: none;
}

.modal-full .item-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-separate);
}

.modal-full .item-carrinho:last-child {
    border-bottom: none;
}

.modal-full .img-produto img {
    width: 100px;
    border-radius: 11px;
}

.modal-full .title-produto {
    color: var(--color-black);
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.modal-full .price-produto {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 0;
}

.modal-full .dados-produto {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-full .add-carrinho {
    display: flex;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-remove {
    border: 2px solid var(--color-black);
    font-size: 16px;
    padding: 4px 10px;
    color: var(--color-white);
    background-color: var(--color-red);
    margin-left: 15px;
    border-radius: 15px;
}

.btn-remove:hover {
    background-color: var(--color-red-hot);
    border: 3px solid var(--color-black-heavy);
    font-size: 17px;
    
}

/* FORM GROUP */

.form-control {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8) !important;
    border: none !important;
    margin-top: -5px;
}

select.form-control {
    height: 60px !important;
}

.container-cep .form-control {
    padding-right: 75px;
}

.container-cep .btn-yellow-find {
    position: absolute;
    background-color: var(--color-primary);
    color: var(--color-black)!important;
    border-radius:15px;
    font-size: 18px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    margin-left: 30px;
    right: 24px;
    top: 31px;
    padding: 10px 15px;
}

.btn-yellow-find:hover{
    background-color: var(--color-black-heavy);
    color: var(--color-primary) !important;
    transition: 0.5s;
}

select::-webkit-scrollbar {
    width: 6px;
    background: none;
}

select::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

select::-webkit-scrollbar-track {
    background-color: none;
}

/* MODAL RESUMO */

.img-carrinho-resumo img {
    width: 50px;
    border-radius: 11px;
}

.item-carrinho .resumo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-produto-resumo {
    color: var(--color-black);
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
} 

.price-produto-resumo {
    color: var(--color-primary);
    font-size: 16px;
    margin-bottom: 0;
}

.quantidade-produto-resumo {
    color: var(--color-black);
    font-size: 20px;
    margin-bottom: 0;
}

.img-map {
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.texto-endereco {
    margin-bottom: 0;
    color: var(--color-black);
}

.cidade-endereco {
    margin-bottom: 0;
}

/* MODAL FOOTER */

.m-footer {
    padding-top: 10px;
    border-top: 1px solid var(--color-separate);
}

.container-total .texto-entrega {
    color: var(--color-separate);
    margin-bottom: -10px !important;
}

.container-total .texto-total{
    color: var(--color-black);
    font-size: 20px;
    margin-top: 5px;
}

.container-total .valor-total {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 0;
}

.btn-float-modal {
    margin-top: -25px !important;
    margin-bottom: -35px;
}


/* MODO DARK */
body.dark {
    background-color: var(--color-black); 
    transition: 1.5s;
}

.dark .nav-link {
    color: var(--color-white)!important;
    transition: 1.5s;
}

.dark .nav-link:hover {
    color: var(--color-primary)!important;
    transition: none;
}

.dark .title {
    color: var(--color-white);
    transition: 1.5s;
}

.dark .text-banner h1 {
    color: var(--color-background);
    transition: 1.5s;
}

.dark .text-banner p {
    color: var(--color-text-dark);
    transition: 1.5s;
}

.dark .card-text {
    color: var(--color-text-dark);
    transition: 1.5;
}

.dark .card-text p {
    color: var(--color-white);
    transition: 1.5;
}

.dark .nome-depoimento {
    color: var(--color-white);
    transition: 1.5s;
}

.dark .texto-depoimento {
    color: var(--color-white);
    transition: 1.5s;
}

.dark footer {
    background-color: var(--color-black-heavy);
}

.dark .modal-full {
    background-color: var(--color-black);
}

.dark .title-carrinho {
    color: var(--color-white);
}

.dark .dados-produto .title-produto {
    color: var(--color-white);
}

.dark .container-total .texto-entrega {
    color:var(--color-text-dark);
}

.dark .container-total p{
    color: var(--color-text-dark);
}

.dark .container-total .texto-total {
    color: var(--color-white);
}

.dark .form-group label {
    color: var(--color-white);
}


.badge-total-carrinho {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--color-red-hot);
    color: var(--color-white);
    border-radius: 50px;
    right: -5px;
    top: -5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 1.5s;
}

.botao-carrinho {
    position: fixed;
    right: 30px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 30px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    transition: 1.5s;
}

.botao-carrinho .fa{
    color: var(--color-black-heavy)!important;
}

.botao-carrinho:hover {
    background-color: var(--color-black);
    transition: 1.5s;
    font-size: 50px;
    height: 80px;
    width: 80px;
    transition: 1.5s;
}

.botao-carrinho:hover .fa{
    color: var(--color-primary)!important;
    transition: 1.5s;
}

.botao-carrinho:hover .badge-total-carrinho{
    font-size: 20px;
    transition: 1.5s;
}

.container-mensagens{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.toast {
    color: var(--color-white);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.toast {
    transition: opacity 1s ease-in-out;
}

.toast.fade-out {
    opacity: 0;
}

.toast.red {
    background-color: var(--color-red);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
}

.toast.green {
    background-color: var(--color-green);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
}